.container {
  background: lightblue;
  border-radius: 4px;
  box-shadow: 10px 10px 5px lightseagreen;
  test-align: center;
}

.center {
  text-align: center;
}

.img-center {
  position: absolute;
}
